<div class="container">
  <h1>Welcome ! This is Rest-In-Pitch</h1>

  <div class="row" >
    <div class="col-auto mb-3" *ngFor="let show of shows">
      <div class="card text-white bg-secondary mb-3" style="width: 18rem; height: 12rem;">
      <div class="card-header">{{ show.name }}</div>
      <div class="card-body">
        <h6 class="card-title" class="font-weight-bold">Summary :</h6>
        <p class="card-text" class="text-muted" class="text-truncate"> {{show.summary}}</p>
        <span class="badge badge-success">{{ show.genres[0] }}</span>
        <span class="badge badge-success">{{ show.genres[1] }}</span>
        <span class="badge badge-success">{{ show.genres[2] }}</span>
      </div>
      </div>
    </div>
  </div>
</div>
